.arrow {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
